#home1-container{
    position: relative;
}

#home1-overlay{
    position:absolute;
    color:white;
    top:0;
    width: 100%;
    height: 100%;
    background-color: #072f5799;
    padding-top: 10vw;
    
}

#home1-overlay > h1{
   font-size: clamp(30px,5vw,55px); 
   font-family: "Poppins";
   text-align: center;

}


